{% extends "user/layout.html"%}
{% load static %}
{% block content %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'cart/cart.css'%}">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
       {{message}}
    </div>
    {% endfor %}
    {% else %}

    <section class="container content-section">
      <h2 class="section-header">CART</h2>
      <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items">
        {% for cart_item in cart_items %}
        <div class="cart-row my-rows" id="{{ cart_item.id }}">
          <div class="cart-item cart-column">
            {% if cart_item.product.dish.picture.url %}
            <img class="img-fluid rounded" src="{{ cart_item.product.dish.picture.url }}" style="max-width: 20%; height:auto;">
           {% endif %}
              <span class="cart-item-title">{{cart_item.product.dish.name}}</span>
              
              <small>By {{ cart_item.product.dish.restaurant.name }}</small>
          </div>
          <span class="cart-price cart-column" data-="" id="product-price"  data-price="{{ cart_item.product.dish.price }}">{{cart_item.product.dish.price}}</span>
          
          <div class="cart-quantity cart-column" >
              <input class="cart-quantity-input" id="quantity" name="quantity" type="number" min="1" max="50" value="1">
              <button class="btn btn-danger cancel" type="button">REMOVE</button>
          </div>
        </div>
        {% endfor%}
      </div>
      <div class="cart-total" >
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price" name="total" id="total">$0</span>
          <input type="hidden" name="total" id="totalhidden">
      </div>
      <button class="btn btn-primary btn-purchase" type="button">Checkout</button>
    </section>
 
<section class="checkout">
  <article class="checkout">
    <div>
      <br><br>
      <h1 class="mx-auto font-weight-bolder" style="width: 250px;">Checkout</h1>
      <h3 class="dark-brown mx-auto font-weight-bolder" style="width: 550px;">Please confirm your following info:</h3>
      <br><br>
  </div>
  
  <div class="contents mx-auto" style="width: 670px;">

    <form method="POST" name="myform" action="{% url 'order' %}" id="payment-form">
        {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" class="form-control" name="username" required placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email Address</span>
        </div>
        <input type="text" class="form-control" name="email" required  placeholder="xyz@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Address</span>
        </div>
        <input type="text" name="address" id="order_address" required  class="form-control" placeholder="Address" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Contact Number</span>
        </div>
        <input type="text" name="phone_number" id="order_phone_number" maxlength="20" required  class="form-control" placeholder="03x-xxxxxxxx" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Payment Method</span>
        </div>
        <select name="payment" class="custom-select form-control">
          {% for mykey,myvalue in payment_choices%}
          <option value="{{ mykey }}">{{myvalue}}</option>
          {% endfor %}
      </select>
    </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Any note to Rider?</span>
        </div>
        <input type="text" class="form-control" name="note" placeholder="Give any note" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Total
            </span>
            <span name="total" id="total"></span>
            <input type="hidden" name="total" id="totalhidden">
        </div>
    </div>
      <div class="mx-auto" style="width: 200px;">        
        <input class="btn bg-light " type="submit" id="submit_order" value="Order all"></div>
      </form>
      </div>

      <br>
      <br>
  </article>
</section>
<section class="order overall container-md">
  <article class="order">
    <div>
      <br><br>
      <h1 class="mx-auto font-weight-bolder" style="width: 250px;">Your orders</h1>
      <br><br>
  </div>
    <br>
  <br>
  <br>
  <div class="card-deck">
    {% for order in orders %}
        {% if forloop.counter0|divisibleby:3 %}
        </div><br>
        <br>
        <br>
        <div class="card-deck">
          <div class="card shadow-lg  rounded" style="max-width: 33%; height: auto;">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            {% if not order.status %}
            <span class=" mx-auto alert alert-danger py-2 status" role="alert"> 
              
              Pending
    
            </span></h5>
            {% else %}
            <span class=" mx-auto alert alert-success py-2 status" role="alert"> 
              
              Delivered
    
            </span></h5>
            {% endif %}
            <br><br>
            <p class="card-text"> 
              <b>Order item:</b> {{ order.order_items.product.dish.name }}<br>
              <b>Quantity:</b> {{ order.order_items.quantity }}<br>      
              <b>Order Id:</b> {{order.order_items.id }}<br>
              <b>User name:</b> {{ order.user.first_name }} <br>
              <b>Address:</b> {{ order.address }}<br>
              <b>Phone number:</b> {{ order.phone_number }}<br>
              <b>Payment method:</b> {{ order.get_payment_display }}<br>
              <b>Deliverer: </b> {{ order.deliverer.user.first_name }}<br>              
              <b>Deliverer phone number: </b> {{ order.deliverer.phone_number }}<br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs {{ order.order_items.total }}
          </div>
          
        </div>
        {% else %}
        <div class="card shadow-lg  rounded" style="max-width: 33%; height: auto;">
    
          <div class="card-body ">
            <h5 class="card-title">Delivery status</h5>
            <br>
            {% if not order.status %}
            <span class=" mx-auto alert alert-danger py-2 status" role="alert"> 
              
              Pending
    
            </span></h5>
            {% else %}
            <span class=" mx-auto alert alert-success py-2 status" role="alert"> 
              
              Delivered
    
            </span></h5>
            {% endif %}
            <br><br>
            <p class="card-text"> 
              <b>Order item:</b> {{ order.order_items.product.dish.name }}<br>
              <b>Quantity:</b> {{ order.order_items.quantity }}<br>      
              <b>Order Id:</b> {{order.order_items.id }}<br>
              <b>User name:</b> {{ order.user.first_name }} <br>
              <b>Address:</b> {{ order.address }}<br>
              <b>Phone number:</b> {{ order.phone_number }}<br>
              <b>Payment method:</b> {{ order.get_payment_display }}<br>
              <b>Deliverer: </b> {{ order.deliverer.user.first_name }}<br>              
              <b>Deliverer phone number: </b> {{ order.deliverer.phone_number }}<br>
            </p>
          </div>
          <div class="card-footer">
            <b>Bill Amount:</b> <span class="float-right"> Rs {{ order.order_items.total }}
          </div>
          
        </div>
        {% endif %}             
        <br>
        <br>
        <br>
        
        {% endfor %} 
    
      </div>
  </article>
</section>

{% endif %}
{% endblock %}